[Unit]
Description=BGUtil PO Token Provider
After=network.target

[Service]
WorkingDirectory=/root/bgutil-ytdlp-pot-provider/server
ExecStart=/usr/bin/node /root/bgutil-ytdlp-pot-provider/server/build/main.js
ExecStartPost=/bin/sleep 2
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target